:root {
  --main-white: #e8f0f7;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
body {
  font-family: "Palatino Linotype",serif;
  font-size: 22px;
  color: var(--main-blue);
  text-align: center;
  background-color: var(--main-white);
  text-decoration: none;

}
*, *:before, *:after {
  box-sizing: border-box;
}
.first-section{
    margin-top: 75px;
}
nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.a-nav {
  text-decoration: none;
  color: var(--main-white);
  padding: 2rem;
     
}
#logo{
    border-radius: 50px;
  border: 2px solid var(--main-white);
  padding: 20px;
  width: 400px;
  height: 150px;
}
.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-list a:hover {
  background:var(--main-white);
  color: var(--main-blue);
  
  
}
ul {
     list-style: none;
     text-decoration: none;
}
a {
  text-decoration: none;  
  color: var(--main-blue)
}
#table a:visited {
color: var(--main-blue)
}

ol {
     list-style: none;
}
#contact{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   .contact-option{ display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    margin: 30px;
    border-radius: 50px;
    background-color: var(--main-white);
}

#sumerry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
}
#sumerry > p {
  font-size: 2rem;
  font-weight: 200;
  color: var(--main-white);
  margin-left: 50px;
  margin-right: 50px;
}


#table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
   font-size: 20px;
   padding-top: 0%;
   padding-bottom: 0%;
   color: inherit;
  text-decoration: none;
  }
.background-img
 {
    position:relative;
    padding:0px;
 width: 100%;
  height:100%;
    display:inline-block;

}

.background-img:before {    
   content:"";
  position:absolute;
  width: 100%;
  height:100%;
  top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  z-index:-1;
  opacity:0.3;
  background-image: url("https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/Man-Pullup-Park-Blue-Skies.jpg?itok=5DdyMmfd");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#location {
    width="300"
        height="200"
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
 margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  
}

.btn-grad:hover {
  background-position: right center; 
  color: var ( --main-white);
  text-decoration: none;
}
.product-image{
    height: 100px;
    width: 100px;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 25px auto;
    border: 1px solid var(--main-gray);
    border-radius: 10px;
    background-color: white;
}
#product-section{
    background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
}
.product-title{
    padding-top: 10px;
}
.video {
width: 560px;
height: 315px;
}
 .info-par{
    border: 5px solid var(--main-blue);
    border-radius: 10px;

    margin-top: 15px;
    margin-bottom: 15px;

 }
 .info-title{
     color: var(--main-blue);
 }
 .product-title{
     font-size: 30px;
 }
 .current {
 background:var(--main-white);
  color: var(--main-blue);
}
 .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  .form-control{
 border-radius:10px;
     width: 60%;
  padding:10px;
  
}
